.content {
  display: flex;
  justify-content: space-between;
}
.main-sidebar {
  display: flex;
  justify-content: space-between;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar {
  display: flex;
  justify-content: space-between;
}
