* {
  font-size: 100%;
}

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.main-header {
  display: flex;
  justify-content: space-between;
}

.content {
  display: flex;
  justify-content: space-between;
}
.main-sidebar {
  display: flex;
  justify-content: space-between;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar {
  display: flex;
  justify-content: space-between;
}

.box-body {
  width: 60%;
}

.table-striped {
  width: 100%;
}

.img-circle {
  height: 80px;
  width: 80px;
  border-radius: 100%;
}

.sidebar {
  width: 100%;
}

.inner {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: center;
  background-color: green;
}

.inner:last-child {
  background-color: yellowgreen;
}

.main-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
